body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

h1 {
    color: #333;
}

.status {
    color: #f00;
}

.status.success {
    color: #008000;
}

/* Estilos para las rutas */
#routes {
    margin-top: 20px;
}

#routes ul {
    list-style-type: none;
    padding: 0;
}

#routes li {
    margin-bottom: 5px;
}

#routes a {
    text-decoration: none;
    color: #3498db;
    /* Puedes ajustar el color según tus preferencias */
}